<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JL SHOP</title>
 
 <!-- CSS only -->
  <!-- Link de la plantilla de bootstrap-->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
  <!--cuerpo de la pagina -->

<body>
     <!--Componente Navbar -->
      <!--Consiste en el encabezado de la pagina, en donde muestra los servicios de la página -->
  <div>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">JL SHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TIENDA</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                GÉNERO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <center><li><a class="dropdown-item" href="#">MUJERES</a></li></center>
                    <center><li><a class="dropdown-item" href="#">HOMBRES</a></li></center>
                        <center><li><hr class="dropdown-divider"></li> NIÑOS </ul></center>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">CONTACTO</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Consulta" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </div>


  <h1 class="font_2" style="text-align:center; font-size:65px;">JL-SHOP</h1>

   <!-- Uso del componente Carousel, permite ingresar imágenes como fondo de nuestra página-->
  <!-- Es un conjunto donde se muestran varias imagenes que avanzan de manera sucesiva -->
  <div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{url_for('static', filename='Img/barca2.jpg')}}" alt="" class="d-block w-100" width="300px" height="600px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='Img/city 2.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='Img/madrid 2.jpg')}}" class="d-block w-100" alt="..." width="300px" height="600px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

    <!-- Uso del blockquote, tiene referencia a un bloque de texto en la pagina-->
      <!-- a la vez permite citar otra fuente en forma de bloques que se haya tomado en cuenta-->
        <!--usualmente son en párrafos -->

        <!--Se usó la etiqueta de center-->
        <center> 
            <div>
              <blockquote cite='https://jjlopez17.wixsite.com/website-1'>
                <p>
                  <h2><strong>¿Quiénes somos?</strong></h2> <br>
                 <div> Nosotros somos una tienda online de camisetas de fútbol económicas , donde puedes 
                     comprar tus camisetas mas baratas. Tenemos las camisetas fabricadas con las mejores 
                     telas, de gran calidad y durabilidad, muy frescas para el verano y abrigadas para el
                      invierno. Contamos con camisetas de todas las tallas, incluso si son tallas grandes
                       especiales, en colores espectaculares, y modelos para mujeres, hombres y niños. 

 

                    Compra tus camisas de fútbol en nuestro sitio web es muy fácil,  sencillo y económico.
                     Navegas en el sitio, escoges la camiseta que más te guste y seleccionar tu talla. Luego,
                      pasarás al carrito de compras y cuando termines de visitar toda la tienda, y hayas escogido
                       todos los artículos que vas a comprar, pasas al carrito de compras de nuevo y realizas 
                       el pago. Aceptamos todas las tarjetas de crédito más reconocidas, así que no tendrás 
                       ningún problema, además tus datos estarán seguros, ya que utilizamos una conexión
                        encriptada para tu tranquilidad. Te esperamos.</div>
                </p>
              </blockquote>
            </div>

      <!--Componente cards- para crear dos cartas con los tipos de criptomonedas-->
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Camiseta 1ª Real Madrid 2021/2022</h5>

            <img src="{{url_for('static', filename='Img/2.jpg')}}">
            <p class="card-text">67,49$</p>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Camiseta 1ª FC Barcelona 2021/2022</h5>

            <img src="{{url_for('static', filename='Img/3.jpg')}}">

            <p class="card-text">67,49$</p>

            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div><br><br>

   
</body>
</html>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

